<%- include('partials/header.ejs') %>
<h1 class="heading">Welcome to TechSimplify🤟</h1>

<div class="btn btn-warning"><a href="/post">Write a post</a></div>
<!-- Add Footer -->
<%- include('partials/footer.ejs') %>
